{% extends 'app/base.html' %}
{% load static %}
<style> 
  .password-section {
    background-color: transparent;
  }
</style>
<h3>Change Password</h3>
{% comment %} {% block breadcrum %}

<li class="breadcrumb-item">
  <a href="{% url 'Home' %}">
      <i class="fa-solid fa-house"></i>
  </a>
</li>

<li class="breadcrumb-item">
  <a href="{% url 'profile' %}">
      <i class="fa fa-user"></i>
  </a>
</li>

<li class="breadcrumb-item">
  <a href="{% url 'edit_profile' %}">Edit Profile</a>
</li>

<li class="breadcrumb-item">
  <a href="{% url 'change_password' %}">Change Password</a>
</li>
{% endblock %} {% endcomment %}



{% block content %}
{% if message %}
<div class="container-fluid p-0 m-0">
  <div class="alert-danger alert alert-dismissible m-0 text-center" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
     {{ message }}!
  </div>
</div>
<script type="text/javascript">
    setTimeout(function () {
      $('.alert').alert('close');
    }, 4000);
  </script>

{% endif %}

<section class="password-section">
  <form action="{% url 'changepassword' %}" method="POST">
    <div class="container col-md-6">
      {% csrf_token %}

      <div class="card mb-4">
        <div class="card-body">

          <center>
            <h3>Change Your Password</h3>
          </center><br>
  
          <div class="form-group row">
            <label for="password" class="col-sm-6 col-form-label"> Old Password</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="password" id="password" >
            </div>
        </div>
          <div class="form-group row">
            <label for="password" class="col-sm-6 col-form-label">New Password</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="new_password" id="password" >
            </div>
        </div>
          <div class="form-group row">
            <label for="password" class="col-sm-6 col-form-label">Repeat New Password</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="repeat_password" id="password" >
            </div>
        </div>

          <div class="text-center">
            <button class="btn btn-dark col-md-6 my-3" type="submit">Change Password</button>
          </div>
        </div>
      </div>


    </div>
  </form>
</section>


{% endblock %}